* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verda na, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cd);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: 2rem;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.dashboard {
  flex: 2;
  display: flex;
}

.img-owen {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.aud-tion {
  position: relative;
  height: 100px;
  width: 50px;
}
.img-esiepe {
  width: 100px;
  height: 100px;
}
